/*noscript*/
.noscript{
	display:block;
	height:21px;
	background:#f6ce2a;
	color:#ffffff;
	line-height:21px;
	text-align:center
}

/*Alert*/
.alert{
	display:none;
	padding: 7px 21px;
	background: $r;
	color:#ffffff;
	font-size: 13px;
	line-height: 1.3;
	text-align:center;
}




/*sortingBlock*/
.sorting-block{
	select{
		width: 100%;
		border:1px solid #797979;
		color:#797979;
		font-size: 14px;
		padding: 3px 21px 3px 7px;
	}
}

/*sidebar*/
.sidebar{
	position:relative;
	background:#ffffff;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	padding: 21px;
	.title{
		border-bottom:1px solid #dddddd;
		padding-bottom:7px;
		margin-bottom:14px;
		text-transform:uppercase;
		font-size:16px;
		color: $g;
	}
	li{
		margin-bottom:14px;
		position:relative;
		a{
			text-decoration:none;
			color: $b;
			&:hover{
				color:#e68717;
			}
		}
		&.current,
		&.menu__item_current{
			a{
				color:#e68717;
			}
		}
	}

}

/*article block*/
.article-block{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	font-size:13px;
	line-height:1.3;
	color:#797979;
}

/*discounts Block*/
.discount-item{
	display: -webkit-flex;
	display: flex;
	float:left;
	width:33.333%;
	margin-bottom:28px;

	.inner{
		margin:0 15px;
		padding:69px 21px 221px;
		background:#ffffff;
		position:relative;
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
		border-radius: 3px;
		overflow:hidden;
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
	}

	.logo{
		text-align:center;
		height:62px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 150px;
		line-height: 62px;
		text-align: center;
		img{
			display: inline-block;
			max-width:35%;
			height:auto;
			vertical-align: middle;
		}
		a:hover{
			@include op(.5);
		}
	}

	.title{
		display:block;
		font-size:21px;
		line-height:1.3;
		text-decoration: none;
		&:hover{
			color: $o;
		}
	}

	.until{
		font-size:14px;
		color: $g;
		position:absolute;
		top:21px;
		left:21px;
		padding-left:23px;
		height:15px;
		line-height:15px;
		@include sp;
	}

	p{
		font-size:14px;
		color:#797979;
		text-align:center;
	}

	.cashback{
		height: 25px;
		position:absolute;
		bottom:111px;
		left:0;
		right:0;
		text-align:center;
		color:#0F986E;
		span{
			display:inline-block;
			font-size:21px;
			height: 28px;
			line-height:22px;
			background:url('../images/icon-cashback.svg') no-repeat;
			-webkit-background-size: auto 100%;
			-o-background-size: auto 100%;
			background-size: auto 100%;
			padding-left:42px;
		}
	}

	.button{
		display:block;
		width:100%;
		position:absolute;
		left:0;
		bottom:0;
		z-index:2;
		color:#ffffff;
		height:42px;
		line-height:42px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		font-weight:700;
		background:#156692; 
		background-image: linear-gradient(to top, #105377 5%, #156591 50%, #1777aa 95%);
		&:hover{
			background:#e68717;
		}
	}

	.discount{
		background:#e68717;
		padding:0 14px 0 2px;
		position:absolute;
		right:0;
		top:0;
		z-index:2;
		color:#ffffff;
		font-weight:700;
		font-size:19px;
		height:33px;
		line-height:33px;
	}

	.discount:after{
		display:block;
		content:"";
		width:0;
		height:0;
		border:33px solid transparent;
		border-right:23px solid #e68717;
		position:absolute;
		top:-33px;
		left:-56px;
	}

	.promocode{
		color:#797979;
		text-align:center;
		height:42px;
		line-height:42px;
		position:absolute;
		bottom:42px;
		left:0;
		width:100%;
		border-top:1px solid #dddddd;
		&:before{
			display: block;
			content: "promocode";
			position: absolute;
			left: 0;
			top: -16px;
			background: #FFF;
			border-right:1px solid #dddddd;
			border-top:1px solid #dddddd;
			border-bottom: 1px solid #fff;
			padding: 0 5px;
			font-size: 10px;
			line-height: 15px;
			height: 15px;
		}
	}

	.promocode .prc-none{
		text-transform:uppercase;
		font-size:14px;
	}

	.promocode .code{
		font-size:21px;
		color:#0f986e;
	}

}

.message{
	padding: 21px;
	border-right:1px dashed #95A8DD;
	border-bottom:1px dashed #95A8DD;
	font-weight: 700;
	text-align: center;
}

/*shopsBlock*/
.shop-item{
	display: -webkit-flex;
	display: flex;
	float:left;
	width:33.333%;
	margin-bottom:28px;
	
	.inner{
		margin:0 14px;
		padding:21px 21px 169px;
		background:#ffffff;
		position:relative;
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
		border-radius: 3px;
		overflow:hidden;
		-webkit-flex:1;
		-ms-flex:1;
		flex:1;
	}

	.logo{
		margin-bottom:7px;
		height:75px !important;
		text-align: center;
		a{
			transition: .5s;
			&:hover{
				opacity: .5;
			}
		}
	}

	.title{
		font-size:16px;
		line-height: 1.3;
		text-align:center;
	}

	.cashback{
		height: 25px;
		position:absolute;
		bottom:121px;
		left:0;
		right:0;
		text-align:center;
		color:#0F986E;
	}

	.cashback span{
		display:inline-block;
		font-size:21px;
		height: 28px;
		line-height:22px;
		background:url('../images/icon-cashback.svg') no-repeat;
		-webkit-background-size: auto 100%;
		-o-background-size: auto 100%;
		background-size: auto 100%;
		padding-left:42px;
	}

	.button{
		display:block;
		width:100%;
		position:absolute;
		left:0;
		bottom:42px;
		z-index:2;
		color:#ffffff;
		height:42px;
		line-height:43px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		font-weight:700;
		background:#156692;
		background-image: linear-gradient(to top, #105377 5%, #156591 50%, #1777aa 95%);
		&:hover{
			background:#e68717;
		}
	}

	.promocode{
		color:#797979;
		text-align:center;
		height:42px;
		line-height:42px;
		position:absolute;
		bottom:42px;
		left:0;
		width:100%;
		border-top:1px solid #dddddd;
		
		.prc-none{
			text-transform:uppercase;
			font-size:14px;
		}

		.code{
			font-size:21px;
			color:#0f986e;
		}

	}

	.more{
		display:block;
		width:100%;
		height:42px;
		line-height:42px;
		text-align:center;
		position:absolute;
		bottom:0;
		left:0;
		z-index:2;
		text-decoration:none;
		text-transform:uppercase;
		font-size:12px;
		
		&:hover{
			color:#E68717;
		}

	}

}
 

/*pagination*/
.pagination{
	text-align:center;
	padding-top:35px;
	width:100%;
}
.pagination a,.pagination span{
	display:inline-block;
	text-decoration:none;
	width:39px;
	height:37px;
	line-height:37px;
	text-align:center;
	border:1px solid #dddddd;
	margin-left:-1px;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2M0YzRjNCIvPjxzdG9wIG9mZnNldD0iNDkuNzYlIiBzdG9wLWNvbG9yPSIjZGRkZGRkIi8+PHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #c4c4c4), color-stop(49.76%, #dddddd), color-stop(95%, #f7f7f7));
	background-image: -moz-linear-gradient(bottom, #c4c4c4 5%, #dddddd 49.76%, #f7f7f7 95%);
	background-image: -webkit-linear-gradient(bottom, #c4c4c4 5%, #dddddd 49.76%, #f7f7f7 95%);
	background-image: linear-gradient(to top, #c4c4c4 5%, #dddddd 49.76%, #f7f7f7 95%);
}
.pagination a:hover{
	background:#ffffff;
}
.pagination .current-page{
	background:#ffffff;
	cursor:no-drop
}
.pagination span.dots{
	border:none;
	cursor:default;
	background:none;
}

/*content*/
.content{
	h1{
		margin:0 0 28px 0;
		padding-bottom:14px;
		border-bottom: 1px solid #dddddd;
	}

	p, li{
		line-height:1.5;
		color:$g;
	}

	h2{
		margin-bottom: 14px;
		font-size:22px;
		line-height: 1.3;
		color:$dg;
	}
	h3{
		margin-bottom: 7px;
		font-size:18px;
		line-height: 1.3;
		color:$dg;
	}
	p{
		margin-bottom: 21px;
		& + h2{
			padding-top: 7px;
		}
	}
	ol li{
		padding-left: 14px;
	}
	li{
		padding: 3px 0;
	}
	ol, ul{
		margin: 0 0 21px 21px;
	}
	ul{
		list-style: circle;
		ul{
			list-style: disc;	
		}
	}
	a{
		color: $b;
		&:hover{
			color: $o;
		}
	}
}

.content-about a:hover{
	color:#E68717;
}

.appr-time{
	color: $o !important;
}

/*search-page*/
.search-page h1{
	font-size:25px;
}
.search-page h1 span{
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}

/*Tab*/
.tab{
	&__buttons{
		@include clr;
		border-bottom:1px solid #dddddd;
		margin-bottom: 28px;
	}
	&__btn{ 
		display: block;
		float: left;
		font-size: 18px;
		height: 35px;
		line-height: 35px;
		padding: 0 14px;
		text-decoration: none;
		text-align: center;
		border: 1px solid #dddddd;
		background: #f0f0f0;
		border-radius: 5px 5px 0 0;
		position: relative;
		top: 1px;
		color: $g;
		@include tr;
		margin-right: -1px;
		&:hover{
			color: $o;
		}
		&_active{
			color: #000 !important;
			cursor: default;
			border-bottom: 1px solid #fff;
			background: #FFF;
		}
	}
	&__content{
		display: none;
		&_vis{
			display: block;
		}
	}
}

/*Table*/
.table{
	border-collapse: collapse;
	width: 100%;
	th, td{
		border: 1px solid #dddddd;
		padding: 7px 14px;
		vertical-align: middle;
		color: $g;
		font-size: 16px;
	}
	th{
		font-weight: 700;
	}
	td{
		padding: 14px;
		border: 1px solid #dddddd;
	}
	&__date{
		background: #F8F8F8;
	}
}

/*Balance*/
.balance{
	@include clr;
	background: #f8f8f8;
	padding: 14px 15px 11px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	&__item{
		float: left;
		font-size: 15px;
		text-align: center;
		margin-right: 42px;
		span{
			display: inline-block;
			line-height: 1;
			vertical-align: middle;
		}
	}
	&__sum{
		font-size: 23px;
		margin-left: 7px;
	}
	&__button{
		display: block;
		height: 63px;
		line-height: 63px;
		color: #FFF !important;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		background: $lgn;
		font-size: 35px;
		text-decoration: none;
		&:hover{
			background: $o;
		}
	}
}

/*payment*/
.payment{
	padding-bottom: 75px !important;
	&__val{
		font-size: 25px;
		padding-top: 8px;
		color: $dg;
		text-align: center;
	}
}

/*orders table*/
.orders{
	&__head{
		border-bottom: 1px solid #dddddd;
		padding-bottom: 8px;
		&>div{
			font-size: 17px;
			color: $g;
		}
	}
	&__date{ 
		padding: 11px 0 9px;
		background: #F8F8F8;
		text-align: center;
	}
	&__tit{
		font-size: 13px;
		line-height: 1.3;
		padding-left: 21px;
		margin-bottom: 14px;
	}
	&__price{
		font-size: 17px !important;
		padding-left: 21px;
	}
	&__shop{
		font-size: 17px !important;
		text-align: center;
	}
	&__cashback{
		font-size: 20px !important;
		text-align: right;
		&_pending{
			color: $g;
		}
		&_approved,
		&_declined{
			&:before{
				display: inline-block;
				font-size: 11px;
				vertical-align: middle;
			}
		}
		&_approved{
			color: $lgn;
			&:before{
				content: "подтвержден";
			}
		}
		&_declined{ 
			color: $lr;
			&:before{
				content: "отклонен";
			}
		}

	}
	&__item{
		padding: 15px 0;
		border-bottom: 1px solid #dddddd;
	}
}

/*promo*/
.promo{
	padding: 14% 0;
	background: url("../images/bg-banner.jpg") no-repeat 50% 0;
	background-size: cover;
	&__tit{
		font-family: 'Roboto Slab', serif;
		font-size: 55px;
		font-weight: 700;
		text-align: justify;
		color: #FFF;
		text-shadow: 5px 5px 10px rgba(0,0,0,.5);
		margin-bottom: 30px;
		line-height: 0;
		&:after{
			content: "";
			display: inline-block;
			width: 100%;
		}
	}
	&__shops{
		padding: 7px 0;
		background: rgba(0,0,0,.3);
		position: relative;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		&-item{
			float: left;
			width: 25%;
			font-size: 0;
		}
		&-logo{
			display: inline-block;
			height: 50px;
			width: 50%;
			text-align: center;
			vertical-align: middle;
			img{
				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			}
		}
		&-desc{
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			height: 50px;
			padding-left: 15px;
			p{
				font-size: 19px;
				padding: 3px 0;
			}
			.another{
				color: $lr;
			}
			.we{
				color: $lgn;
			}
		}
	}
	&__note{
		position: absolute;
		left: 0;
		bottom: -20px;
		width: 100%;
		p{
			margin-right: 35px;
			color: #FFF;
			font-size: 11px;
			float: left;
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.square{
			width: 10px;
			height: 10px;
			margin-right: 4px;
			-webkit-border-radius: 2px;
			        border-radius: 2px;
		}
		.red{
			background: $lr;
		}
		.grn{
			background: $lgn;
		}
	}
}

.descript{
	padding: 42px 0;
	line-height: 1.7;
	color: $dg;
	p{
		padding: 14px 0;
	}
}

/*Timer*/
.timer{
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin: 0 auto 35px;
	position: relative;
	&__icon{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url("../images/timer.svg") no-repeat 50% 50%;
		-webkit-background-size: 100% 100%;
		     -o-background-size: 100% 100%;
		        background-size: 100% 100%;
		animation: timer 1s infinite linear;
	}
	&__num{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		font-size: 35px;
		text-align: center;
	}
}

@keyframes timer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*go*/
.go{
	&__warning{
		display: none;
		text-align: center;
		padding: 35px 121px 14px;
		&-tit{
			font-size: 35px;
			color: $r;
			margin-bottom: 42px;
			text-align: center;
		}
		&-btn{
			display: inline-block;
			color:#ffffff !important;
			font-size: 14px;
			height:42px;
			line-height:43px;
			text-align:center;
			text-decoration:none;
			text-transform:uppercase;
			font-weight:700;
			background:#156692;
			background-image: linear-gradient(to top, #105377 5%, #156591 50%, #1777aa 95%);
			-webkit-border-radius: 3px;
			border-radius: 3px;
			padding: 0 21px;
			&:hover{
				background:#e68717;
			}
		}
	}
}

/*recomendations*/
.recomend{
	.row{
		padding: 35px 0;
		border-bottom: 1px solid #dddddd;
	}
	.col-4{
		text-align: center;
		padding: 0 !important;
	}
	.col-8{
		padding-left: 35px !important;
		p:last-child{
			margin: 0;
		}
	}
	h2{
		padding-top: 0;
		color: $dg;
	}
	img{
		display: inline-block;
		max-width: 100%;
		height: auto;
	}
	p{
		font-size: 14px;
	}
}

/*faq*/
.faq{
	&__quest{
		color: $dg;
	}
	&__answ{
		padding: 14px 21px 0;
		font-size: 14px;
		line-height: 1.3;
		p,
		ol{
			margin-bottom: 14px;
		}
	}
}