html, body{
	font-family: 'Roboto', sans-serif;
	color: $g;
	background:#F1F1F1;
	height: 100%;
}
.overflow-hidden{
	overflow: hidden;
}
.clr,
.clear{
	clear:both;
}
.clear:after,
.wrap:after{
	display:block;
	width:100%;
	content:"";
	clear:both
}

/*Float*/
.left{
	float:left !important;
}
.right{
	float:right !important;
}

ul{
	list-style:none
}

h1{
	font-size:24px;
	color: $gn;
}

/*Transition*/
a,
.header{
	-webkit-transition: all 0.21s ease 0s;
	-moz-transition: all 0.21s ease 0s;
	-ms-transition: all 0.21s ease 0s;
	-o-transition: all 0.21s ease 0s;
	transition: all 0.21s ease 0s;
}

.load{
	display:none;	
	position:fixed;
	left:0;
	bottom:0;
	top:0;
	width:100%;
	background:rgba(255,255,255,0.7);
	z-index:9;
}
.load img{
	position:absolute;
	left:50%;
	top:50%;
	margin:-11px 0 0 -60px
}


/*Margin*/
.mt-14{
	margin-top: 14px !important;	
}

.mb-35{
	margin-bottom: 35px !important;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-28{
	margin-bottom: 28px !important;
}
.mb-14{
	margin-bottom: 14px !important; 
}
.mb-0{
	margin-bottom: 0 !important;
}

.m-x-10{
	margin-left: 10px !important;
	margin-right: 10px !important;
}

.m-0{
	margin: 0 !important;
}

 
/*Align*/
.ta-l{
	text-align: left;
}
.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}

/*Color*/
.c-green{
	color: $gn !important;
}
.c-l-green{
	color: $lgn !important;
}
.c-red{
	color: $r !important;
}
.c-d-gray{
	color: $dg !important;
}
.c-or{
	color: $o !important;
}

/*Border*/
.bord-none{
	border: none !important;
}


/*Text*/
sub{
	font-size: .63em;
}
.tt-n{
	text-transform: none;
}

/*Font-size*/
.fs-35{
	font-size: 35px !important;
}
.fs-15{
	font-size: 15px !important;
}

/*image*/
img{
	max-width: 100%;
	height: auto;
}

/*height*/
.min-h-272{
	min-height: 272px;
}

/*Box*/
.box{
	background: #FFF;
	border-radius: 3px;
	padding: 21px 6px;
}

/*Background*/
.bg-red{
	background: $r;
}

@media(max-width: 1000px){
	h1{
		font-size: 21px;
	}
	.vw1000{
		&-mb-15{
			margin-bottom: 15px;
		}
		&-hide{
			display: none;
		}
	}
}