.footer{
	min-width:320px;
	padding-top:11px;
	font-size:14px;
	background:#fff;
	color:#6699CC;
	@include clr;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer .wrap div{
	margin:0 35px;
}
.footer .left span{
	margin-left:7px;
}
.dealersair img{
	position:relative;
	top:-5px;
	height: 21px;
	width: auto;
}

@media(max-width: 1000px){
	.footer{
		padding: 15px 0;
	}
	.footer .wrap div{
		margin:0 15px;
		float: none !important;
	}
	.footer .left{
		margin-bottom: 25px !important;
	}
}