/*Header*/
.header{
	position:fixed;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	background:#ffffff;
	@include clr;
	&__logo{
		max-width:100%;
		height:auto;
	}
	&__toggle,
	&__user-btn-mob{
		display: none !important;
	}
	&_fixed{
		box-shadow: 0 3px 21px rgba(0, 0, 0, 0.21);
	}

	@media(max-width: 1000px){
		&__menu-wrap{
			display: block;
			visibility: hidden;
			opacity: 0;
			position: fixed;
			top: 100px;
			bottom: 0;
			left: 0;
			width: 100%;
			overflow: auto;
			background: #FFF;
			border-top: 1px solid $c_l-gray;
			transition: .5s;
			padding: 25px 0;
			&.toggled{
				visibility: visible;
				opacity: 1;
			}
			.form__select-options{
				margin-bottom: 35px;
			}
		}
		&__toggle{
			display: block !important;
			position: absolute !important;
			right: 15px;
			bottom: 12px;
		}
		&__user-btn-mob{
			display: block !important;
			position: absolute;
			width: 26px;
			height: 26px;
			right: 75px;
			bottom: 9px;
			@include sp(0 -18px);
		}
	}
}

.header-top{
	background:#c4c4c4;
	&__wrap{
		height:28px;
	}
	@media(max-width: 1000px){
		position: fixed;
		left: 0;
		top: 100px;
		bottom: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: .5s;
		&.toggled{
			opacity: 1;
			visibility: visible;
		}
		&__wrap{
			height: auto;
			padding-top: 15px;
			padding-bottom: 15px;
			.col-6{
				text-align: center;
			}
		}
	}
}

.header-bottom{
	&__wrap{
		height:70px;
		@media(max-width: 1000px){
			height: 45px;
		}
	}
}

.top-menu{
	position: relative;
	top: 3px;
	float: right;
}
.top-menu .menu{
	@include clr;
}
.top-menu .menu__item{
	float:left;
	margin-right:35px;
	position:relative;
	color: $b;
	&:last-child{
		margin: 0;
	}
}
.top-menu .menu__item_has-sub-menu{
	position: relative;
	padding-right: 18px;
	&:after{
		@include ab;
		width: 0;
		height: 0;
		position: absolute;
		right: 0;
		top: 3px;
		border: 5px solid transparent;
		border-top: 8px solid $b;
		z-index: 5;
	}
}
.top-menu .menu__item > a{
	font-weight:700;
	text-decoration:none;
	text-transform:uppercase;
	position:relative;
	z-index:4;
}
.top-menu a:hover,
.top-menu .menu__item_current > a,
.top-menu .menu__item_current-parent > a{
	color:#E68717;
}
.top-menu .menu__item_current > a,
.top-menu .menu__item_current-parent > a{
	border-bottom:3px solid #E68717;
}
.top-menu .menu__sub-menu{
	position:absolute;
	min-width:110%;
	padding:53px 14px 7px;
	background:#ffffff;
	border: 1px solid #dddddd;
	top:-14px;
	left:-14px;
	z-index:3;
	@media(min-width: 1001px){
		visibility: hidden;
		opacity: 0;
		@include tr;
	}
}
.top-menu .menu__sub-menu li{
	margin-bottom:14px;
}
.top-menu .menu__sub-menu li a{
	text-decoration:none;
}
.top-menu .menu__item:hover .menu__sub-menu{
	visibility: visible;
	opacity: 1;
}

@media(max-width: 1200px){
	.top-menu .menu__item{
		margin-right:25px;
	}
}

@media(max-width: 1000px){
	.top-menu{
		float: none;
		padding-top: 20px;
	}
	.top-menu .menu__item{
		margin: 0;
		padding: 15px 25px;
		text-align: center;
		float: none;
		& > a{
			font-size: 18px;
		}
	}
	.top-menu .menu__item_has-sub-menu:after{
		display: none;
	}
	.top-menu .menu__sub-menu{
		position: static;
		border: none;
		padding: 17px 0 0;
		min-width: 1px;
	}
}

/*search-form*/
.search-form{
	position:absolute;
	right:136px;
	left:408px;
	top:0;
	height:36px;
	background:#5DAEDA;
}
.search-form div{
	position:absolute;
	left:10px;
	right:108px;
	top:5px;
}
.search-form input[type=text]{
	width:100%;
	height:16px;
	padding:5px 7px 4px 7px;
	line-height:16px;
	background:none;
	font-size:14px;
	background:#ffffff;
}
.search-form input[type=submit]{
	width:75px;
	height:25px;
	line-height:25px;
	text-align:center;
	font-size:14px;
	float:right;
	cursor:pointer;
	position:relative;
	z-index:1;
	margin:5px 10px 0 0;
	background:#8EBFDA;
	color:#ffffff;
}
.search-form input[type=submit]:hover{
	background:#156692;
}

/*region*/
.region-block{
	position:relative;
	display: inline-block;
	font-size:14px;
}
.region-block span{
	color:#ffffff;
}
.show-region-button{
	display:inline-block;
	background:none;
	cursor:pointer;
	border-bottom:1px dashed #ffffff;
	position:relative;
	margin-left:5px;
	color:#ffffff;
}
.show-region-button:after{
	display:block;
	content:"";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top: 6px solid #ffffff;
	position: absolute;
	top: 6px;
	right:-17px;
}
.show-region-button.active:after{
	border-bottom: 6px solid #ffffff;
	border-top:none;
}
.show-region-button:hover,
.show-region-button.active{
	border-bottom:1px dashed transparent;
}
.show-region-button.active:hover{
	border-bottom:1px dashed #ffffff;
}

.menu-region{
	display:none;
	position:absolute;
	left:0;
	right:-31px;
	top:23px;
	background:#ffffff;
	border:1px solid #c4c4c4;
	z-index:6;
	padding:14px 14px 7px;
	box-shadow: 0 3px 21px rgba(0, 0, 0, 0.21);
}
.menu-region li{
	margin-bottom:7px;
}
.menu-region a{
	text-decoration:none;
	font-weight:700;
	color: $b;
}
.menu-region.bg-red a{
	color: #FFF;
}

.menu-region a:hover{
	color:#E68717;	
}

@media(max-width: 1000px){
	.region-block{
		margin-bottom: 100px;
	}
}

/*login-block*/
.header__user{
	display: inline-block;
	color: #FFF;
	a{
		font-size:14px;
		&:hover{
			text-decoration: none;
		}
	}
	.-dash{
		text-decoration:none;
		border-bottom:1px dashed #ffffff;
		&:hover{
			border:none;
		}
	}
	.-gray{
		color:#dddddd;
	}
	@media(max-width: 1000px){
		a{
			font-size: 20px;
		}
		.gr{
			display: block;
			font-size: 0;
			margin: 10px 0;
		}
	}
}