@mixin clr(){
	&:after{
		display: block;
		width: 100%;
		content: "";
		clear: both;
	}
}

//opacity
@mixin op($opacity) {
    @if $opacity == 1 {
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(enabled=false)");
    } @else {
      filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
    }
  opacity: $opacity;
}

//border-radius
$default-border-radius: 5px !default;
@mixin br($radius: $default-border-radius) {
  border-radius: $radius;
}

//sprite
$default-bg-position: 0 0 !default;

@mixin sp($bg-position: $default-bg-position){
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-position: $bg-position;
}

@mixin sp2($bg-position-x: 0, $bg-position-y: 0){
	background-image: url("../images/sprite@2x.png");
	background-size: 480px auto;
	background-repeat: no-repeat;
	@if $bg-position-x != 0 OR $bg-position-y != 0 {
		background-position: ($bg-position-x / 2) ($bg-position-y / 2);
	}
}

//after-before
@mixin ab(){
	display: block;
	content: "";
}

//vertiacal align
@mixin va-m(){
	font-size: 0;
	&:before{
		display: inline-block;
		content: "";
		height: 100%;
		vertical-align: middle;
	}
	img{
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}
}

//fwh
@mixin fwh(){
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

//transition
$default-transition: .5s !default;
@mixin tr($transition: $default-transition){
	-webkit-transition: $default-transition;
	-moz-transition: $default-transition;
	-ms-transition: $default-transition;
	-o-transition: $default-transition;
	transition: $default-transition;
}

//rem
$base-font-size: 16;
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}

//em
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

//percent
@function per($px, $base) {
    @return $px * (100 / $base) * 1%;
}

$o: #E68717;
$g: #797979;
$dg: #212121;
$c_l-gray: #dddddd;
$b: #156692;
$gn: #0F986E;
$lgn: #14CE95;
$r: #c90101;
$lr: #ff0000;
$red: #c90101;
$gray: #797979;