// font family
$ff: 'fira_sans', sans-serif;

// colors
$bk: #212121;
$gy: #797979;
$gy2: #F1F1F1;
$gy3: #b3b3b3;
$rd: #ff0000;
$gn: #0F986E;
$gn2: #14CE95;
$be: #156692;
$yw: #ffff00;
$vt: #895df7;
$og: #E68717;