@import "variables";
@import "functions";
@import "extends";
@import "mixins";

%btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	letter-spacing: em(.5);
	color: #FFF;
	padding: 0 25px;
	height: 43px;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	border: none;
	background: $bk;
	user-select: none;
	position: relative;
	transition: .21s;
	span{
		display: block;
		width: 100%;
	}
}

%btn-icon{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
}

//default btn
.btn{
	@extend %btn;
}

.green-btn{
	@extend %btn;
	font-size: 18px;
	font-weight: 500;
	background: $gn2;
	&:hover{
		background: $og;
	}
}

.orange-btn{
	@extend %btn;
	font-size: 18px;
	font-weight: 500;
	background: $og;
	&:hover{
		opacity: .65;
	}
}

.wh-bord-btn{
	@extend %btn;
	background: none;
	border: 2px solid #FFF;
	&:hover{
		background: #FFF;
		color: $bk;
	}
}

/* icon button */
%icon-btn{
	display: inline-block;
	border: none;
	background: none;
	-webkit-appearance: none;
	transition: .21s;
	&:hover{
		opacity: .55;
	}
}

// .vk-btn{
// 	@extend %icon-btn;
// 	width: 46px;
// 	height: 37px;
// }


/* link */
%link{
	text-decoration: none;
	border-bottom: 1px solid;
	transition: .21s;
	&:hover{
		border-bottom-color: transparent;
	}
}
// .link{
// 	@extend %link;
// 	color: $be;
// 	border-bottom-color: $be;
// }
// .green-link{
// 	@extend %link;
// 	color: $gn;
// 	border-bottom-color: $gn;
// 	&_dash{
// 		border-bottom-style: dashed;
// 	}
// 	&_rev{
// 		border-bottom-color: transparent;
// 		&:hover{
// 			border-bottom-color: $gn;
// 		}
// 	}
// }

/* icon link */
%icon-link{
	display: inline-block;
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid $be;
	margin-left: 48px;
	transition: .21s;
	&:hover{
		border-bottom-color: transparent;
	}
	&:before{
		display: block;
		content: "";
		position: absolute;
		left: -48px;
		top: 50%;
	}
}

// .icon-link{
// 	@extend %icon-link;
// 	&:before{
// 		width: 35px;
// 		height: 30px;
// 		margin-top: -15px;
// 	}
// }

/*paginate*/
.paginate{
	list-style: none;
	text-align: center;
	margin: 15px 0;
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 3px;
		color: $gy3;
	}
	&__a,
	&__curr{
		display: block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 21px;
		text-align: center;
		text-decoration: none;
	}
	&__curr{
		color: $bk;
	}
	&__a{
		transition: .21s;
		&:hover{
			color: $bk;
		}
	}
	&__prev,
	&__next{
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin: 0 7px;
		&_disabled{
			opacity: .2;
		}
	}
}