@import "variables";
@import "functions";
@import "extends";
@import "mixins";

%ico{
	position: relative;
	&:before{
		display: block;
		content: "";
		position: absolute;
		left: 0;
	}
}

.until-icon{
	@extend %ico;
	min-height: 16px;
	padding-left: 25px;
	&:before{
		width: 16px;
		height: 16px;
		top: -2px;
	}
}